<!DOCTYPE html>
<html>
  <head>
     <title>Index page</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <div>
      <a href="/users">
        Home Page
      </a>
    </div>
    <p>Welcome to index page</p>
  </body>
</html>