<!DOCTYPE html>
<html>
  <head>
    <title>index</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <p>Welcome <%= fullName%></p>
    <p>Login success</p>
    <a href="/blog/">
      <button>See my blogs</button>
    </a>
    <a href="/blog/new">
      <button>Add new article</button>
    </a>
  </body>
</html>